<section class="content-header">
  <h1>
    Dashboard Paciente
    <small>Painel de controle</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard Paciente</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{total_atendido}}</h3>
  
          <p>Atendido</p>
        </div>
        <div class="icon">
          <i class="fa fa-check"></i>
        </div>
        <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{total_faltou}}</h3>
  
          <p>Faltou</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-times"></i>
        </div>
        <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{total_aguardando}}</h3>
  
          <p>Pendente de Atendimento</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-plus"></i>
        </div>
        <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{total_marcado}}</h3>

        <p>Marcou</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="#" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>  


  

  <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable ui-sortable">
          <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Pacientes do dia</h3>
        
                <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- The time line -->
                      <ul class="timeline">
                
                        <ng-container *ngFor="let evolucao of evolucoes ">
                
                          <li class="time-label">
                            <span class="bg-blue">
                              {{evolucao.dat_evolucao | date:'dd-MM-yyyy'}}
                            </span>
                          </li>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <li>
                            <ng-container [ngSwitch]="evolucao.fk_flag_evolucao">
                              <i *ngSwitchCase=3 class="fa fa-arrow-up bg-green"></i>
                              <i *ngSwitchCase=2 class="fa fa-minus bg-yellow"></i>
                              <i *ngSwitchCase=1 class="fa fa-arrow-down bg-red"></i>
                            </ng-container>
                
                
                            <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i> {{evolucao.dat_evolucao | date:'HH:mm:ss'}}</span>
                
                              <h3 class="timeline-header">{{evolucao.dsc_titulo}}</h3>
                
                              <div class="timeline-body">
                                {{evolucao.dsc_evolucao}}
                              </div>
                              <!--
                              <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs" (click)="editEvolucao($event, evolucao)" data-toggle="modal"
                                  data-target="#modal-edicao">Editar</a>
                                <a class="btn btn-danger btn-xs" (click)="delete(evolucao.id)">Excluir</a>
                              </div>

                              -->
                              
                            </div>
                          </li>
                          <!-- END timeline item -->
                
                        </ng-container>
                        <li>
                          <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                      </ul>
                    </div>
                    <!-- /.col -->
                  </div>

              </div>
              <div class="box-footer clearfix">
                <a routerLink="/sistema/fonoaudiologo/evolucao/{{this.idPaciente}}" class="btn btn-sm btn-info btn-flat pull-right">
                  Evoluções
                </a>
              </div>
          </div>
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable ui-sortable">
  
  
      </section>
      <!-- right col -->
  </div>
</section> 








