<section class="content-header">
  <h1>
    Agenda
    <small>Agenda de Pacientes</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/home/dash"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Agenda</li>
    <li class="active">Consultar Agenda</li>
  </ol>
</section>

<app-load [loading]="loading"></app-load>
<!-- Main content -->
<section class="content"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Agenda</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="agenda" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Paciente</th>
                <th width="11%">Data</th>
                <th width="11%">Hora Início</th>
                <th width="11%">Hora Término</th>
                <th width="7%">Ações</th>
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let agenda of agendas">
                <td>{{agenda.paciente}}</td>
                <td>{{agenda.data}}</td>
                <td>{{agenda.hora_inicio}}</td>
                <td>{{agenda.hora_fim}}</td>
                <td align="center">
                  <a (click)="changeStatus(agenda,5)">
                   <i class="fa fa-check"> </i></a>
                  &nbsp;
                  <a (click)="changeStatus(agenda,4)">
                       <i class="fa fa-close"></i></a>
                </td>
                
              </tr>
             
            </tbody>
            <tfoot>
              <tr> 
                <th>Paciente</th>
                <th>Data</th>
                <th>Hora Início</th>
                <th>Hora Término</th>
                <th>Ações</th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
