<section class="content-header">
    <h1>
      Calendário
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home/dash"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>Agenda</li>
      <li class="active">Calendário</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">      
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                  <!-- THE CALENDAR -->
                  <div id="calendar"></div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>