.radio-button {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .radio-button {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .radio-button:after {
    content: "";
    clear: both;
  }