<section class="login">
    <div class="container">
        <div class="col-md-8">
          <h2>Login +fono</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus vel sed quaerat qui ex, soluta, expedita aspernatur, quis quidem molestias totam sunt pariatur impedit accusantium architecto ipsum illum recusandae, labore?</p>
        </div>

         <div class="col-md-4">
              <div class="wrapper">
          

              <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h4>Acesso</h4>
        </div>
        <div class="panel-body">
           <div   id="googleBtn" class="g-signin2"></div>
          </div>
      </div>
             </div>
         </div>
      </div>
  </section>