<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Valeo</title>
	
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="./assets/Valeo_files/bootstrap.min.css">
	<link rel="stylesheet" href="./assets/Valeo_files/main.css" id="color-switcher-link">
	<link rel="stylesheet" href="./assets/Valeo_files/animations.css">
	<link rel="stylesheet" href="./assets/Valeo_files/fonts.css">
	<script src="./assets/Valeo_files/modernizr-2.6.2.min.js.download"></script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	


	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<div class="widget widget_search">
			<form method="get" class="searchform form-inline" action="http://webdesign-finder.com/html/valeo/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="theme_button">
					<span class="sr-only">Search</span>
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<section class="page_toplogo table_section table_section ls section_padding_20">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-sm-push-4 text-center ">
							<a href="http://webdesign-finder.com/html/valeo/" class="logo">
								<img src="./assets/Valeo_files/logo.png" alt="">
							</a>
						</div>
						<div class="col-sm-4 col-sm-pull-2 text-center text-sm-left contact-teaser">
							<span class="small-text">Emergency cases</span>
							<p class="yantramanov weight-black fontsize_25">+1(800) 450 7550</p>
						</div>
						<div class="col-sm-4 text-center text-sm-right contact-teaser">
        					
							<button type="button" (click)="socialSignIn('google')" class="btn pull-right">
								<i class="fa fa-google"></i> Login com Google
							</button>
						</div>
					</div>
				</div>
			</section>

			<div class="page_header_wrapper affix-top-wrapper" style="height: 45px;">
				<header class="page_header header_color template_header table_section toggle_menu_left affix-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="row cs rounded header-block">

									<div class="col-md-9">
										<!-- main nav start -->
										<nav class="mainmenu_wrapper">
											<ul class="mainmenu nav sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
												<li class="active">
													<a href="#">Home</a>
												</li>

												<li>
													<a href="" class="sf-with-ul">About Us</a>
												</li>
												<li>
													<a href="#" class="sf-with-ul">Services</a>
												</li>
												<li>
													<a href="#">Departments</a>
												</li>

												<li>
													<a href="#" class="sf-with-ul">Features</a>
												</li>
												<!-- eof features -->

												<!-- contacts -->
												<li class="">
													<a href="#" class="sf-with-ul">Contact us</a>
												</li>
												<!-- eof contacts -->
											</ul>
										</nav>
										<!-- eof main nav -->
										<span class="toggle_menu">
											<span></span>
										</span>
									</div>

									<div class="col-md-3 text-right">

										<div class="page_social greylinks">
											<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
											<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
			</div>

			<section class="intro_section page_mainslider">
				<div class="flexslider">
					<ul class="slides">
						<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
							<img src="./assets/Valeo_files/slide01.jpg" alt="" draggable="false">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description highlight">
												<div class="intro-layer animated fadeInLeft" data-animation="fadeInLeft" style="visibility: hidden;">
													<p class="yantramanov text-uppercase fontsize_35">
														Desenvolver Capacidades nas Pessoas
													</p>
												</div>
												<div class="intro-layer animated fadeInRight" data-animation="fadeInRight" style="visibility: hidden;">
													<p class="text-uppercase yantramanov big">
														para Melhorar suas Vidas
													</p>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
							<img src="./assets/Valeo_files/slide02.jpg" alt="" draggable="false">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description highlight">
												<div class="intro-layer" data-animation="fadeInLeft" style="visibility: hidden;">
													<p class="yantramanov text-uppercase fontsize_35">
														Higher standards
													</p>
												</div>
												<div class="intro-layer" data-animation="fadeInRight" style="visibility: hidden;">
													<p class="text-uppercase yantramanov big">
														of care every day
													</p>
												</div>
										</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
						<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
							<img src="./assets/Valeo_files/slide03.jpg" alt="" draggable="false">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="slide_description_wrapper">
											<div class="slide_description highlight">
												<div class="intro-layer animated fadeInLeft" data-animation="fadeInLeft" style="visibility: hidden;">
													<p class="yantramanov text-uppercase fontsize_35">
														Leading the way
													</p>
												</div>
												<div class="intro-layer animated fadeInRight" data-animation="fadeInRight" style="visibility: hidden;">
													<p class="text-uppercase yantramanov big">
														to better healthcare
													</p>
												</div>
											</div>
											<!-- eof .slide_description -->
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>

			<section class="ls ms section_padding_25 page_info_banners columns_padding_0 columns_margin_0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<div class="with_padding cs main_bg_color info_banner">
								<h4 class="text-uppercase bottommargin_30">Working hours</h4>
								<ul class="list1 no-bullets middle-borders bottommargin_0">
									<li>
										<div class="media">
											<div class="media-left">
												<i class="fa fa-clock-o"></i>
											</div>
											<div class="media-body small-text2 thin">
												Monday - Friday
												<span class="pull-right">08:00 AM – 07:00 PM</span>
											</div>
										</div>
									</li>
									<li>
										<div class="media">
											<div class="media-left">
												<i class="fa fa-clock-o"></i>
											</div>
											<div class="media-body small-text2 thin">
												Monday - Friday
												<span class="pull-right">08:00 AM – 07:00 PM</span>
											</div>
										</div>
									</li>
									<li>
										<div class="media">
											<div class="media-left">
												<i class="fa fa-clock-o"></i>
											</div>
											<div class="media-body small-text2 thin">
												Monday - Friday
												<span class="pull-right">08:00 AM – 07:00 PM</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="with_padding cs main_bg_color2 info_banner">
								<h4 class="text-uppercase bottommargin_30">Contact details</h4>
								<ul class="list1 no-bullets middle-borders bottommargin_0">
									<li>
										<div class="media bottommargin_10">
											<div class="media-left">
												<i class="fa fa-map-marker"></i>
											</div>
											<div class="media-body small-text2 thin">
												Livingstone, Season Street 45/2
												<br> Los angeles, Inc - 4502
											</div>
										</div>
									</li>
									<li class="topmargin_10">
										<a href="http://webdesign-finder.com/html/valeo/contact.html" class="theme_button inverse block_button margin_0">Get directions on the map
											<i class="fa fa-caret-right"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="with_padding cs main_bg_color3 info_banner">
								<h4 class="text-uppercase bottommargin_30">Contact details</h4>
								<ul class="list1 no-bullets middle-borders bottommargin_0">
									<li>
										<div class="media bottommargin_10">
											<div class="media-left">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="media-body small-text2 thin">
												Choose the right time and
												<br> date for you
											</div>
										</div>
									</li>
									<li class="topmargin_10">
										<a href="http://webdesign-finder.com/html/valeo/appointment.html" class="theme_button color3 block_button margin_0">Make an appointment</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_150 section_padding_bottom_120 features">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-md-8">
							<h2 class="section_header">O Que Nos Torna Diferentes</h2>
							<p class="bold bottommargin_30">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of the moment.</p>
							<hr class="divider_15">
							<div class="row">
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/consultation.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Consultas
													<br> Grátis</a>
											</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/prices.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Preços
													<br>Acessíveis</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
							<hr class="divider_15">
							<div class="row">
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/doctors.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Fonoaudiólogos
													<br>Qualificados</a>
											</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/staff.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Equipe
													<br>Profissional</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
							<hr class="divider_15">
							<div class="row">
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/opened.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Aberto
													<br>24/7</a>
											</h4>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="media img-media-teaser">
										<div class="media-left media-middle">
											<img src="./assets/Valeo_files/happy.png" alt="">
										</div>
										<div class="media-body media-middle">
											<h4 class="bold text-uppercase margin_0">
												<a href="http://webdesign-finder.com/html/valeo/#">Clientes
													<br> Felizes</a>
											</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ds ms section_padding_top_150 section_padding_bottom_100 page_services parallax" style="background-position: 50% 0px;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h2 class="section_header highlight3">Our Medical Services</h2>
							<p class="bold grey">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae
							</p>
						</div>
					</div>
					<div class="row topmargin_50 columns_margin_bottom_60">
						<div class="col-md-4 col-sm-6 text-center">
							<div class="teaser">
								<img src="./assets/Valeo_files/cardio.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">Cardio Monitoring</a>
								</h4>
								<p>
									These cases are perfectly simple and easy to distinguish a free hour when our power
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="teaser">
								<img src="./assets/Valeo_files/medical.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">Medical Treatment</a>
								</h4>
								<p>
									Fusce pellentesque lectus quis placerat ultrices malesuada est vitae urna laoreet porta
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="teaser">
								<img src="./assets/Valeo_files/emergency.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">Emergency Help</a>
								</h4>
								<p>
									Donec cursus tellus libero, non porttitor felis desluctus ut justo non odio molestie
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center lg-clearfix">
							<div class="teaser">
								<img src="./assets/Valeo_files/symptom.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">Symptom Check</a>
								</h4>
								<p>
									Mauris consectetur dui eget ullamcorper mehendrerit eros ligula consectetur
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="teaser">
								<img src="./assets/Valeo_files/laboratory.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">Laboratory Test</a>
								</h4>
								<p>
									Pellentesque facilisis.sollicitudin justo non odio molestie, sed venenatis elit laoreet
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 text-center">
							<div class="teaser">
								<img src="./assets/Valeo_files/general.png" alt="">
								<h4 class="grey">
									<a href="http://webdesign-finder.com/html/valeo/single-service.html">General Analysis</a>
								</h4>
								<p>
									Morbi sollicitudin justo non odio molestie sed venenatis elit laoreet
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_90 booking_departments background_cover columns_margin_top_30">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-5 col-sm-6">
							<div class="content-card rounded muted_background">
								<h4 class="card-heading main_bg_color">Solicite uma consulta grátis</h4>
								<div class="card-content with_padding">
									<form class="appointment-form" id="appointmentform" method="post" action="http://webdesign-finder.com/html/valeo/">
										<div class="row columns_padding_5 columns_margin_0">
											<div class="col-sm-12">
												<div class="form-group select-group bottommargin_10">
													<select aria-required="true" id="app-categories" name="app-category" class="choice empty form-control" placeholder="Tipo de Atendimento">
														<option value="computer">Primeira consulta no fonoaudiólogo</option>
														<option value="laptop">Primeira consulta através do site</option>
													</select>
													<i class="fa fa-caret-down" aria-hidden="true"></i>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group bottommargin_10">
													<label for="app-author" class="sr-only">Seu Nome Completo
														<span class="required">*</span>
													</label>
													<input type="text" aria-required="true" size="30" value="" name="app-author" id="app-author" class="form-control" placeholder="Seu Nome Completo">
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group bottommargin_10">
													<label for="app-phone" class="sr-only">Seu Telefone
														<span class="required">*</span>
													</label>
													<input type="text" aria-required="true" size="30" value="" name="app-phone" id="app-phone" class="form-control" placeholder="Seu Telefone">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group bottommargin_10">
													<label for="app-date" class="sr-only">Data
														<span class="required">*</span>
													</label>
													<input type="text" aria-required="true" size="30" value="" name="app-date" id="app-date" class="form-control right-icon" placeholder="Data">
													<i class="rt-icon2-calendar5" aria-hidden="true"></i>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group bottommargin_10">
													<label for="app-time" class="sr-only">Hora
														<span class="required">*</span>
													</label>
													<input type="text" aria-required="true" size="30" value="" name="app-time" id="app-time" class="form-control right-icon" placeholder="Hora">
													<i class="rt-icon2-clock2" aria-hidden="true"></i>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group bottommargin_20">
													<label for="app-time" class="sr-only">Mensagem
														<span class="required">*</span>
													</label>
													<textarea aria-required="true" rows="5" cols="45" name="comment" id="comment" class="form-control" placeholder="Mensagem"></textarea>
												</div>
											</div>
											<div class="col-sm-12">
												<button type="submit" id="app-ubmit" name="app-submit" class="theme_button block_button color1 margin_0">Marque uma consulta</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_150 section_padding_bottom_120">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<h2 class="section_header">Our Team</h2>
							<p class="bold">
								The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="owl-carousel team-carousel top-offset with-nav owl-loaded owl-drag owl-theme" data-nav="true" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1">
								

								

								

								

								

								

								

								

								

								

								

								
							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2340px;"><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/01.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Vickie
												<br> Bryant</a>
										</h4>
										<p class="small-text">General Doctor</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 254 4512
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/02.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Geraldine
												<br> Graham</a>
										</h4>
										<p class="small-text">Dental Surgeon</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 895 4575
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/03.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Valerie
												<br> Farmer</a>
										</h4>
										<p class="small-text">Cosmetic Surgeon</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 456 5484
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/04.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Eloise
												<br> Stephens</a>
										</h4>
										<p class="small-text">Therapy</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 800 7000
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/05.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Robin
												<br> Ramsey</a>
										</h4>
										<p class="small-text">General Doctor</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 254 4512
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/06.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Claudia
												<br> Ortiz</a>
										</h4>
										<p class="small-text">Gynecologist</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 550 5500
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/01.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Vickie
												<br> Bryant</a>
										</h4>
										<p class="small-text">General Doctor</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 254 4512
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/02.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Geraldine
												<br> Graham</a>
										</h4>
										<p class="small-text">Dental Surgeon</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 895 4575
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/03.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Valerie
												<br> Farmer</a>
										</h4>
										<p class="small-text">Cosmetic Surgeon</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 456 5484
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/04.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Eloise
												<br> Stephens</a>
										</h4>
										<p class="small-text">Therapy</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 800 7000
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/05.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Robin
												<br> Ramsey</a>
										</h4>
										<p class="small-text">General Doctor</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 254 4512
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div><div class="owl-item" style="width: 165px; margin-right: 30px;"><div class="thumbnail">
									<img src="./assets/Valeo_files/06.jpg" alt="" class="rounded">
									<div class="caption">
										<h4>
											<a href="http://webdesign-finder.com/html/valeo/team-single.html">Claudia
												<br> Ortiz</a>
										</h4>
										<p class="small-text">Gynecologist</p>
										<hr class="divider_15">
										<div class="media">
											<div class="media-left">
												<i class="rt-icon2-phone3"></i>
											</div>
											<div class="media-body yantramanov">
												1 (800) 550 5500
											</div>
										</div>
										<p class="social-icons greylinks">
											<a class="social-icon soc-facebook" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Facebook"></a>
											<a class="social-icon soc-twitter" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Twitter"></a>
											<a class="social-icon soc-google" href="http://webdesign-finder.com/html/valeo/#" title="" data-toggle="tooltip" data-original-title="Google"></a>
										</p>
									</div>
								</div></div></div></div><div class="owl-nav"><div class="owl-prev disabled">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
						</div>
					</div>

				</div>
			</section>

			<section class="ls ms section_padding_top_150 section_padding_bottom_120">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<h2 class="section_header">Latest News &amp; Our Blog</h2>
							<p class="bold">
								Sed doming virtute honestatis at, graece tamquam docendi eum an, alterum reformidans est ei nec aliquando voluptatum an, eu quidam civibus qui.
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="owl-carousel team-carousel top-offset with-nav owl-loaded owl-drag owl-theme" data-nav="true" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1">
								

								

								

								

								

								

							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2340px;"><div class="owl-item active" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post1.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border">
										<h4 class="entry-title bottommargin_30">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">Center for Medical Technology Innovation</a>
										</h4>
										<p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat nostrud exerci</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color1 margin_0">Views details</a>
									</div>
								</article></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post2.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border color2">
										<h4 class="entry-title bottommargin_30 highlight2">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">The hospital you trust to care for those you love</a>
										</h4>
										<p>Est an novum regione, pro ne dicta graeci delenit. Integre equidem consectetuer te mea alii inermis</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color2 margin_0">More information</a>
									</div>
								</article></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post3.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border color3">
										<h4 class="entry-title bottommargin_30 highlight3">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">Where There is Healing…
												<br> There is Hope</a>
										</h4>
										<p>Eos an prompta fabulas quaerendum. Unum harum tollit no iusam eu nostro putant fabulas stet quidam hisea</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color3 margin_0">Read more</a>
									</div>
								</article></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post1.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border">
										<h4 class="entry-title bottommargin_30">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">Center for Medical Technology Innovation</a>
										</h4>
										<p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat nostrud exerci</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color1 margin_0">Views details</a>
									</div>
								</article></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post2.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border color2">
										<h4 class="entry-title bottommargin_30 color2">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">The hospital you trust to care for those you love</a>
										</h4>
										<p>Est an novum regione, pro ne dicta graeci delenit. Integre equidem consectetuer te mea alii inermis</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color2 margin_0">More information</a>
									</div>
								</article></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><article class="vertical-item content-padding with_background text-center bottom-rouded-small">
									<div class="item-media">
										<img src="./assets/Valeo_files/blog_post3.jpg" alt="">
									</div>
									<div class="item-content bottom-color-border color3">
										<h4 class="entry-title bottommargin_30 color3">
											<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html">Where There is Healing…
												<br> There is Hope</a>
										</h4>
										<p>Eos an prompta fabulas quaerendum. Unum harum tollit no iusam eu nostro putant fabulas stet quidam hisea</p>
										<hr class="divider_40">
										<a href="http://webdesign-finder.com/html/valeo/blog-single-right.html" class="theme_button block_button color3 margin_0">Read more</a>
									</div>
								</article></div></div></div><div class="owl-nav"><div class="owl-prev disabled">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
						</div>
					</div>

				</div>
			</section>

			<section class="ds ms section_padding_150 parallax page_testimonials columns_margin_0" style="background-position: 50% 0px;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-center">
							<h2 class="section_header highlight3">What patients say About Valeo</h2>
							<div class="owl-carousel topmargin_60 owl-loaded owl-drag owl-theme" data-dots="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1">
								

								

								

							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2925px;"><div class="owl-item active" style="width: 945px; margin-right: 30px;"><blockquote class="no-border">
									<p class="yantramanov">“The Cancer team at Valeo are nothing short of miracle workers - they were able to help me overcome my Leukemia in just 6 months”</p>
									<div class="item-meta small-text2">
										Christine Blaine / blood patient
									</div>
								</blockquote></div><div class="owl-item" style="width: 945px; margin-right: 30px;"><blockquote class="no-border">
									<p class="yantramanov">The staff at Valeo are second to none. The amount of knowledge of experience they bring to the table is astounding”</p>
									<div class="item-meta small-text2">
										Christine Blaine / kidney patient
									</div>
								</blockquote></div><div class="owl-item" style="width: 945px; margin-right: 30px;"><blockquote class="no-border">
									<p class="yantramanov">The Dental care team at Valeo was just great - they helped me overcome my dental deficiencies and put me back into good health”</p>
									<div class="item-meta small-text2">
										Benjamin Flanco / dental patient
									</div>
								</blockquote></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_25">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="owl-carousel partners-carousel owl-loaded owl-drag owl-theme" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2">
								

								

								

								

								

								

							<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1170px;"><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/1.png" alt="">
								</a></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/2.png" alt="">
								</a></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/3.png" alt="">
								</a></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/4.png" alt="">
								</a></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/5.png" alt="">
								</a></div><div class="owl-item active" style="width: 165px; margin-right: 30px;"><a href="http://webdesign-finder.com/html/valeo/#">
									<img src="./assets/Valeo_files/6.png" alt="">
								</a></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
						</div>
					</div>
				</div>
			</section>

			<footer class="page_footer template_footer cs main_bg_color2">
				<div class="container">
					<div class="row display_table_sm divider_40">
						<div class="col-sm-4 col-sm-push-4 text-center display_table_cell_sm">
							<a href="http://webdesign-finder.com/html/valeo/" class="logo">
								<img src="./assets/Valeo_files/logo-light.png" alt="">
							</a>
						</div>
						<div class="col-sm-4 col-sm-pull-4 text-center text-sm-left contact-teaser display_table_cell_sm">
							<span class="small-text">Emergency cases</span>
							<p class="yantramanov weight-black fontsize_25">+1(800) 450 7550</p>
						</div>
						<div class="col-sm-4 text-center text-sm-right contact-teaser display_table_cell_sm">
							<span class="small-text">online consultation</span>
							<p class="yantramanov weight-black fontsize_25 text-uppercase">valeo@gmail.com</p>
						</div>
					</div>
					<div class="row columns_margin_0 widgets-row display_table_md">
						<div class="col-md-4 col-sm-6 display_table_cell_md">
							<div class="widget widget_mailchimp">
								<h4 class="text-uppercase bold">Newsletter Signup</h4>
								<form class="signup form-inline" action="http://webdesign-finder.com/html/valeo/" method="get">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="your email address">
									</div>
									<button type="submit" class="theme_button">
										<span class="sr-only">Send</span>
										<i class="rt-icon2-envelope black"></i>
									</button>
									<div class="response"></div>
								</form>
							</div>
						</div>
						<div class="col-md-4 col-md-push-4 col-sm-6 display_table_cell_md">
							<div class="widget">
								<h4 class="text-uppercase bold">Meet Our Doctors</h4>
								<a href="http://webdesign-finder.com/html/valeo/timetable.html" class="theme_button color2 block_button margin_0">doctors timetable</a>
							</div>
						</div>
						<div class="col-md-4 col-md-pull-4 col-sm-12 display_table_cell_md">
							<div class="widget widget_button_map">
								<h4 class="text-uppercase bold">Search on the map</h4>
								<a href="http://webdesign-finder.com/html/valeo/contact.html" class="theme_button inverse block_button margin_0">Get directions on the map
									<i class="fa fa-caret-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright cs main_bg_color table_section section_padding_35">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 text-center text-sm-left">
							<p class="small-text black">Valeo - medical clinic / health center © 2016</p>
						</div>
						<div class="col-sm-4 text-center">
							<div class="page_social darklinks">
								<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="col-sm-4 text-center text-md-right">
							<p class="small-text black">Created with
								<i class="fa fa-heart-o highlight3"></i> by
								<a href="http://modernwebtemplates.com/">MWTemplates</a>
							</p>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	<script src="./assets/Valeo_files/compressed.js.download"></script>
	<script src="./assets/Valeo_files/main.js.download"></script>



<a href="http://webdesign-finder.com/html/valeo/#" id="toTop" style="display: none;">
	<span id="toTopHover"></span>To Top</a>
	
</body>
</html>