<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<script src="./assets/js/libs/modernizr.custom.45655.js"></script>
	</head>
	<body>
	
		<header class="header">
			<div class="login">
				<div class="container"grid-16>
					

					<button type="button" (click)="socialSignIn('google')" class="btn pull-right">
						<i class="fa fa-google"></i> Login com Google
					</button>

				</div>
			</div>
			<div class="container">
				<div  class="logo">
						<a  href="#" class="grid-4">
							<img src="./assets/img/logo-01.png" alt="+Fono">
						</a>
				</div>
				<nav class="grid-12 header_menu">
					<ul>
						<li><a href="#">Sobre Nós</a></li>
						<li><a href="#">Nossos Serviços</a></li>
						<li><a href="#">Nossa Equipe</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="introducao">
			<div class="container">
			<!-- <img src="img/logo.png" alt=""> -->
				<h1>+Fono</h1>
				<blockquote class="quote-externo">
					<p>“DESENVOLVER CAPACIDADES NAS PESSOASPARA MELHORAR SUAS VIDAS”</p>
					<cite>--</cite>
				</blockquote>
				
			</div>
		</section>
		<div class="cor-fundo">
		<section class="produtos container animar">
			<h2 class="subtitulo">O Que Nos Torna Diferentes</h2>
			<p class="descricao">Fazemos parte de um sistema que preza pela qualidade e conforto dos nossos clientes. Tudo que fazemos é pensando em você</p>
			<ul class="produtos_lista">

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/prices.png" alt="">
					</div>
					<h3>PREÇOS ACESSÍVEIS</h3>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/doctors.png" alt="">
					</div>
					<!-- <h3>FONOAUDIÓLOGOS </h3> -->
					<h3>FONOAUDIÓLOGOS QUALIFICADOS</h3>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/staff.png" alt="">
					</div>
					<h3>EQUIPE PROFISSIONAL</h3>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/opened.png" alt="">
					</div>
					<h3>ABERTO 24/7</h3>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/consultation.png" alt="">
					</div>
					<h3>MAIS CONSULTAS</h3>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/happy.png" alt="">
					</div>
					<h3>CLIENTES FELIZES</h3>
					
				</li>


			</ul>

			

		</section>
		<!-- Fecha Produtos -->
		</div>
<section class="produtos container animar ">
			<h2 class="subtitulo">Nossa Equipe</h2>
			<p class="descricao">Fazemos parte de um sistema que preza pela qualidade e conforto dos nossos clientes. Tudo que fazemos é pensando em você</p>
			<ul class="produtos_lista">

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/01.jpg" alt="">
					</div>
					<h3>Nome Sobrenome</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore reprehenderit laborum aliquid inventore, labore consequatur dolorem atque dolor! Enim officiis harum assumenda esse facilis deserunt reiciendis beatae maiores aliquid.</p>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/02.jpg" alt="">
					</div>
					<h3>Nome Sobrenome</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore reprehenderit laborum aliquid inventore, labore consequatur dolorem atque dolor! Enim officiis harum assumenda esse facilis deserunt reiciendis beatae maiores aliquid.</p>
					
				</li>

				<li class="grid-1-3">
					<div class="produtos_icone">
						<img src="./assets/img/03.jpg" alt="">
					</div>
					<h3>Nome Sobrenome</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore reprehenderit laborum aliquid inventore, labore consequatur dolorem atque dolor! Enim officiis harum assumenda esse facilis deserunt reiciendis beatae maiores aliquid.</p>
					
				</li>

				


			</ul>

			

		</section>



<div class="cor-fundo">
<section class="introducao-interna interna_contato">
			<div class="container">
				<h1>Solicite uma Consulta</h1>
				<p>tire suas dúvidas com a gente</p>
			</div>
		</section>

		<section class="contato container animar-interno">
			<form id="form_orcamento" class="contato_form grid-8">
				
				<select name="" id="">
					<option value="Primeira consulta no fonoaudiólogo">Primeira consulta no fonoaudiólogo</option>
					<option value="Primeira consulta no fonoaudiólogo">Primeira consulta atravez do site</option>
				</select>
		
				<input type="text" id="nome" placeholder="Nome">
				
				<input type="text" id="email" placeholder="Email">
		
				<input type="text" id="telefone" placeholder="Telefone">
				<input type="text" id="data" placeholder="Data">
				<input type="text" id="hora" placeholder="Hora">
				
				<textarea id="espec" placeholder="Digite sua Mensagem"></textarea>
				<button type="submit" class="btn btn-preto">Enviar</button>
			</form>
			<div class="contato_dados grid-8">
				<h3>Dados</h3>
				<span>+55 82 9.9988 3232</span>
				<span>contat@maisfono.com.br</span>
				<span>Rua Ali Perto - Maceió</span>
				<span>Maceio - AL - Brasil</span>
				<h3>Redes Sociais</h3>
				<ul>
					<li><a href="http://facebook.com" target="_blank"><img src="./assets/img/redes-sociais/facebook.png"></a></li>
					<li><a href="http://instagram.com" target="_blank"><img src="./assets/img/redes-sociais/instagram.png"></a></li>
					<li><a href="http://twitter.com" target="_blank"><img src="./assets/img/redes-sociais/twitter.png"></a></li>
				</ul>
			</div>
		</section>
</div>
	

		<footer>
			<div class="footer">
				<div class="container">

					<div class="grid-10 footer_historia">
						<h3>Nossa História</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ullam, repellat, libero facilis quaerat incidunt. Laudantium dolore mollitia maxime nam nemo neque nobis facere, odit quia rerum repudiandae ab quisquam..</p>
					</div>

					<div class="grid-6 footer_contato">
						<h3>Contato</h3>
						<ul>
							<li>- 82 9.9988 3232</li>
							<li>- contat@maisfono.com.br</li>
							<li>- Maceio - AL - Brasil</li>
						</ul>
					</div>

					

				</div>
			</div>

			<div class="copy">
				<div class="container">
					<p class="grid-16">Copyright ©. Todos os direitos reservados.</p>
				</div>
			</div>
		</footer>

	<!-- JavaScript -->
	<script src="./assets/js/libs/jquery-1.11.2.min.js"></script>
	<script src="./assets/js/plugins.js"></script>
	<script src="./assets/js/main.js"></script>
	<!-- JavaScript -->

	</body>
</html>