h2{
  font-weight: bold;
  font-size: 2.2em;
  margin: 5px 0;
}

p{
  font-size: 1.3em;
  margin: 10px 0;
}

.login{
  background: #333;
  padding-top: 80px;
  color: #eee;
}


.wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
 
}

.login-panel{
  color: #333;


}
.checkbox {
  margin-bottom: 30px;
  color: #333;
}

