<section class="content-header">
    <h1>
      Fonoaudiólogo
      <small>Formulário de Cadastro</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Perfil</a></li>
      <li class="active">Cadastro</li>
    </ol>
  </section>

<section class="content">

  <!-- SELECT2 EXAMPLE -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Identifique-se</h3>

    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Voce é?</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
              <!-- <option selected="selected">Alabama</option> -->
              <option>Paciente</option>
              <option>Fonoaudiologo</option>


            </select>
            <!-- <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-1zxr-container"><span class="select2-selection__rendered" id="select2-1zxr-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> -->
          </div>

        </div>
        <!-- /.col -->

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>

  </div>

<!-- 
</section>

<section class="content"> -->

  <div class="box box-primary">
    <div class="box-header with-border">
        <h3>Informações Pessoais</h3>
      <div class="box-body">
        <form id="form1" #f="ngForm"
        (ngSubmit)="onSubmit()" class="form1" method="post">
          <div class="col-md-12">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
              <div class="input-group col-xs-12">
                <label>Nome
                  <em>*</em>
                </label>
                <input type="text" [(ngModel)]="fono.nome" name="Nome" id="nome" class="form-control" placeholder="Nome" required>
                <input type="hidden" [(ngModel)]="fono.id">
              </div>
              <br>
              <div class="input-group col-xs-12">
                <label>Descrição
                  <em>*</em>
                </label>
                <textarea rows="5" [(ngModel)]="fono.descricao" name="Descrição" id="descrição" class="form-control" placeholder="Descrição" min="5" title="Breve descrição do seu perfil proficional."
                  required></textarea>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Data de Nascimento
                        <em>*</em>
                      </label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <input type="date" [(ngModel)]="fono.data_nascimento" maxlength="8" name="dn" id="dn" class="form-control" placeholder="Data de nascimento" required>
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-4">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>CPF
                        <em>*</em>
                      </label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-credit-card"></i>
                      </span>
                      <input type="text" [(ngModel)]="fono.cpf" name="cpf" class="form-control" placeholder="CPF" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Este campo deve conter apenas números"
                        maxlength="14" minlength="14" OnKeyPress="formatar('###.###.###-##', this)" id="cpf" required>
                    </div>

                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-4">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>CRF
                      </label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-credit-card"></i>
                      </span>
                      <input type="text" name="crf" class="form-control" 
                             placeholder="CRF" pattern="\d{11}" 
                             title="Este campo deve conter apenas números"
                             maxlength="11" minlength="11" 
                             id="crf" title="Este campo deve conter 11 caracteres 
                             e ser composto somente por números.">
                    </div>

                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
              <br>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Sexo
                    </label>
                    <select name="num_sexo" id="num_sexo" 
                            class="form-control select2"
                            title="Por favor, selecione uma opção.">
                      <option value="">--Selecione--</option>
                      <option value='1'>Feminino</option>
                      <option value='2'>Masculino</option>
                    </select>

                  </div>
                </div>
                <div class="col-md-6">
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Nacionalidade
                    </label>
                    <select name="nacionalidade" id="nacionalidade"
                            class="form-control select2" 
                            title="Por favor, selecione uma opção.">
                      <option value="">--Selecione--</option>
                      <option value='1'>Brasileira</option>
                      <option value='2'>Brasileira - Nascido no exterior ou naturalizado</option>
                      <option value='3'>Estrangeira</option>
                    </select>

                  </div>
                </div>
                <!-- /.col (right) -->

              </div>
              <!-- /.row -->


              <h3>Contato</h3>
              <hr>
              <div class="row">
                <div class="col-lg-6">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Telefone</label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                      </span>
                      <input type="text" name="telefone1" class="form-control" placeholder="xx xxxx-xxxx" title="Telefone" maxlength="12" OnKeyPress="formatar('## ####-####', this);">
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Email</label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
              <br>
              <br>
              <h3>Endereço</h3>
              <hr>
              <div class="row">
                <div class="col-lg-6">
                  <div class="col-lg-12 input-group">
                    <label>Localização/Zona de Residência
                      <em>*</em>
                    </label>
                    <select name="zona" id="zona" class="form-control select2" title="Por favor, selecione uma opção." required>
                      <option value="">--Selecione--</option>
                      <option value='1'>Urbana</option>
                      <option value='2'>Rural</option>
                    </select>
                  </div>
                </div>
                <!-- /.form-group -->
                <div class="col-lg-6">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>CEP</label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-home"></i>
                      </span>
                      <input type="int" maxlength="10" class="form-control" name="cep" id="cep" OnKeyPress="formatar('##.###-###', this);">

                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
              <br>
              <div class="row">
                <div class="col-lg-4">
                  <div class="input-group col-xs-12">
                    <label>Estado
                    </label>

                    <select class="form-control select2" name="estado" id="estado" id="estado" onchange="showUser(this.value)" onChange="ativa(this);"
                      >

                      <option value="">--Selecione--</option>
                      <option value='1'>Acre</option>
                      <option value='2'>Alagoas</option>
                      <option value='3'>Amazonas</option>
                      <option value='4'>Amapá</option>
                      <option value='5'>Bahia</option>
                      <option value='6'>Ceará</option>
                      <option value='7'>Distrito Federal</option>
                      <option value='8'>Espírito Santo</option>
                      <option value='9'>Goiás</option>
                      <option value='10'>Maranhão</option>
                      <option value='11'>Minas Gerais</option>
                      <option value='12'>Mato Grosso do Sul</option>
                      <option value='13'>Mato Grosso</option>
                      <option value='14'>Pará</option>
                      <option value='15'>Paraíba</option>
                      <option value='16'>Pernambuco</option>
                      <option value='17'>Piauí</option>
                      <option value='18'>Paraná</option>
                      <option value='19'>Rio de Janeiro</option>
                      <option value='20'>Rio Grande do Norte</option>
                      <option value='21'>Rondônia</option>
                      <option value='22'>Roraima</option>
                      <option value='23'>Rio Grande do Sul</option>
                      <option value='24'>Santa Catarina</option>
                      <option value='25'>Sergipe</option>
                      <option value='26'>São Paulo</option>
                      <option value='27'>Tocantins</option>
                    </select>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-4">
                  <div class="input-group col-xs-12">
                    <label>Município
                    </label>
                    <select class="form-control select2" name="municipio" id="municipio">
                      <option value="">Selecione o Estado</option>
                      <option value='26'>Garanhuns</option>
                    </select>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-4">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Bairro</label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-home"></i>
                      </span>
                      <input type="text" name="bairro" id="bairro" class="form-control" placeholder="Bairro" title="Bairro">
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
              <br>
              <div class="row">
                <div class="col-lg-9">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Rua
                        <em>*</em>
                      </label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-home"></i>
                      </span>
                      <input type="text" name="rua" id="rua" class="form-control" placeholder="Endereço" min="5" title="Este campo deve conter apenas letras e um mínimo de 5 caracteres."
                        required>
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-3">
                  <div class="col-lg-12 input-group">
                    <div>
                      <label>Número</label>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-home"></i>
                      </span>
                      <input type="text" name="num_end" class="form-control" placeholder="Número" title="Número">
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- /.row -->
              <br>
              <br>



              <h3>Dados de Formação</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Grau de formação
                      <em>*</em>
                    </label>
                    <select name="escolaridade" id="escolaridade" class="form-control select2" title="Por favor, selecione uma opção." onChange="ativaPosGraduacao(this.value)"
                      required>
                      <option value="">--Selecione--</option>
                      <option value='1'>Graduação</option>
                      <option value='2'>Pós Graduação</option>
                      <option value='3'>Mestrado</option>
                      <option value='4'>Pós doc</option>
                    </select>
                  </div>
                </div>
                <!-- /.form-group -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Curso:</label>
                    <input type="text" class="form-control pull-right" id="reservationtime">

                  </div>
                </div>
                <!-- /.form-group -->
                <br>
              </div>
              <!-- /.row -->
              <br>
              <!-- Date and time range -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Instituição de Ensino:</label>
                    <input type="text" class="form-control pull-right" id="reservationtime">

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Data de Conclusão:</label>
                    <input type="date" class="form-control pull-right" id="reservation">
                  </div>
                </div>
                <br>
                

              </div>

              
            </div>
          </div>
          <div id="formacao">
              <div class="row">
                <div class="col-md-12" align="center">
                  <input type="button" class="btn btn-primary btn-block" id="add" name="add" value="Adicionar Formação" />
                </div>
              </div>
            </div>
            <br>
          <p align="right">
            <button type="submit" class="btn btn-lg btn-primary fa fa-save" align="right">
              <b style="margin-left: 10px"> Salvar</b>
            </button>
          </p>



        </form>
      </div>
    </div>
  </div>
</section>