<section class="content-header">
  <h1>
    Usuários
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/home/dash"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Usuários</li>
    <li class="active">Admin</li>
  </ol>
</section>


<app-load [loading]="loading"></app-load>

<!-- Main content -->
<section class="content">
    
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">usuários</h3>
          
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="users" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th >E-mail</th>
                <th >Ações</th>
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let u of users">
                <td>{{u.displayName}}</td>
                <td>{{u.email}}</td>
                <td align="center">
                  <a [routerLink]="['/sistema/user/ver']" 
                    [queryParams]="{ id: u.id }">
                    <i class="fa fa-eye" ></i>
                  </a>

                  <a [routerLink]="['/sistema/user/atualizar']" 
                     [queryParams]="{ id: u.id }">
                     <i class="fa fa-pencil-square-o" ></i>
                  </a>
                </td>
              
              </tr>
             
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
