<section class="content-header">
  <h1>
    Meus Pacientes
    <small>Tabela de Meus Pacientes</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/home/dash"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Paciente</li>
    <li class="active">Meus Pacientes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Pacientes</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="pacientesMeus" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th width="15%">Telefone</th>
                <th width="11%">Email</th>
                <th width="11%">Laudo</th>
                <th width="7%">Evolução</th>
                <th width="5%">Horarios</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lista of pacientes">
                <td>{{lista.dsc_nome}}</td>
                <td>{{lista.dsc_telefone}}</td>
                <td>{{lista.dsc_email}}</td>
                <td align="center">
                  <a routerLink="/sistema/fonoaudiologo/laudo/{{lista.id}}">
                    <i class="fa fa-file-text-o"></i>
                  </a>
                </td>
                <td align="center"><a routerLink="/sistema/fonoaudiologo/evolucao/{{lista.id}}"><i class="fa fa-line-chart"></i></a></td>
                <td>Horario</td>
              </tr>
             
            </tbody>
            <tfoot>
              <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Laudo</th>
                <th>Evolução</th>
                <th>Horarios</th>
              </tr>
            </tfoot>
          </table>
            <!--<button class="btn btn-block btn-primary btn-lg" routerLink="/home/paciente/novo">CADASTRAR NOVO</button>-->
        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </div><!-- /.col -->


  </div><!-- /.row -->
</section><!-- /.content -->