@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

p {
  font-family: Lato;
}

.video-container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.agora_local_small{
  background-color: #404040;
  height: 200px;
  width: 200px;
  border: black 1px solid;
  margin: 8px;
}
.agora_local_video_small{
  height: 200px; 
  width: 200px;
  position: relative;
  top: -15%;
}

.agora_local_large{
  background-color: #404040;
  height: 500px;
  width: 800px;
  border: black 1px solid;
  margin: 8px;
}
.agora_local_video_large{
  height: 500px; 
  width: 800px;
  position: relative;
  top: -6%;
}

.agora_remote{
  background-color: #404040;
  height: 500px;
  width: 800px;
  border: black 1px solid;
  margin: 8px;
}

.video-buttons_small{
  width: 205px;
  top: 160px;
  position: relative;
  text-align: center;
  z-index: 999;
}

.video-buttons_large{
  width: 800px;
  top: 460px;
  position: relative;
  text-align: center;
  z-index: 999;
}

.video-buttons i{
  cursor: pointer;
}

.endCall{
  color: red;
}

.startCall{
  color: white;
}

.mic{
  color: white;
}