<section class="content">
		<div class="row">
		  <div class="col-xs-12">
			<div class="box">
			  <div class="box-header">
				
				<h3 class="box-title">Detalhes</h3>

				<button type="button" class="btn btn-info btn-detail"
				 [routerLink]="['/sistema/fonoaudiologo/admin']">Admin</button>

				 <button type="button" class="btn btn-info btn-detail" [routerLink]="['/sistema/fonoaudiologo/novo']" 
                       [queryParams]="{ id: fono.id }">Atualizar</button>


			  </div><!-- /.box-header -->
			  <div class="box-body">
				<table id="fono" class="table table-bordered table-striped">
					<tr>
					   <th>Nome</th>
					   <td>{{fono.dsc_nome}}</td>
					</tr>
					<tr>
							<th>CRF</th>
							<td>{{fono.dsc_crf}}</td>
					</tr>
					<tr>
							<th>CPF</th>
							<td>{{fono.dsc_cpf}}</td>
					</tr>			
					<tr>
							<th>Data de Nascimento</th>
							<td>{{fono.dat_nascimento}}</td>
					</tr>			   
				</table>
			  </div><!-- /.box-body -->
			</div><!-- /.box -->
		  </div><!-- /.col -->
		</div><!-- /.row -->
	  </section><!-- /.content -->
	  