<section class="content-header">
    <h1>
      Fonoaudiólogos
      <small>Tabela de Fonoaudiólogos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/home/dash"><i class="fa fa-dashboard"></i> Home</a></li>
      <li>Fono</li>
      <li class="active">Admin</li>
    </ol>
  </section>
  
  
  
  <!-- Main content -->
  <section class="content">
      <button class="bt btn-success bt-novo" (click)="createPage()">Novo</button>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">fonoaudiólogos</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="fonoaudiologos" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th >CPF</th>
                  <th >Ações</th>
                </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let f of fonos">
                  <td>{{f.nome}}</td>
                  <td>{{f.cpf}}</td>
                  <td align="center">
                    <a (click)="delete(f)"><i class="fa fa-trash-o" ></i></a>
                    <a [routerLink]="['/fonoaudiologo/fono/novo']" [queryParams]="{ id: f.id }"><i class="fa fa-pencil-square-o" ></i></a>
                  </td>
                
                </tr>
               
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
  