<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a routerLink="/fonoaudiologo/dash" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>+F</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>+Fono</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img [src]="img" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{name}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src={{img}} class="img-circle" alt="User Image">
                                <p>
                                   {{name}}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                        <a class="" routerLink="/fonoaudiologo/perfil/dashboard">
                                            Perfil
                                        </a>
                                </div>
                                <div class="pull-right">
                                        <a (click)="attachSignout()">
                                            Sair
                                        </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
              <!-- Sidebar user panel -->
              <div class="user-panel">
                <div class="pull-left image">
                  <img [src]="img" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                  <p>{{name}}</p>
                  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  
                  <button type="button" (click)="openRoom()" class="btn btn-primary">Sala</button>
                </div>
              </div>
              <!-- search form -->
              <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
              <!-- /.search form -->
              <ul class="sidebar-menu">
                <li class="header">NAVEGAÇÃO PRINCIPAL</li>
                <!--<li><a routerLink="/fonoaudiologo/video"><i class="fa fa-gamepad"></i>Vídeo</a></li>-->
                <li class="treeview">
                  <a>
                    <i class="fa fa-user"></i>
                    <span>Fonoaldiologo</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a routerLink="/fonoaudiologo/fono/consulta"><i class="fa fa-circle-o"></i> Consultar</a></li>
                    <li><a routerLink="/fonoaudiologo/fono/consultarMeusFonos"><i class="fa fa-circle-o"></i> Meus Fonoaldiologos</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-user"></i>
                    <span>Paciente</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a routerLink="/fonoaudiologo/paciente/consulta"><i class="fa fa-circle-o"></i> Consultar</a></li>
                    <li><a routerLink="/fonoaudiologo/paciente/consultarMeus"><i class="fa fa-circle-o"></i> Meus Pacientes</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-calendar"></i> 
                    <span>Agenda</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a routerLink="/fonoaudiologo/agenda/calendarioAgenda"><i class="fa fa-circle-o"></i> Calendário</a></li>
                    <li><a routerLink="/fonoaudiologo/agenda/consultaAgenda"><i class="fa fa-circle-o"></i> Consultar</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-gamepad"></i> 
                    <span>Jogos</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a routerLink="/fonoaudiologo/jogos/listaJogos"><i class="fa fa-circle-o"></i> Jogos</a></li>
                  </ul>
                </li>
                <li class="treeview">
                  <a>
                    <i class="glyphicon glyphicon-piggy-bank"></i> 
                    <span>Faturamento</span>
                    <i class="fa fa-angle-left pull-right"></i>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Por Período</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Anual</a></li>
                  </ul>
                </li>
                <li class="header">SITE</li>
              </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        
        <div class="content-wrapper">
            <router-outlet></router-outlet>
            <div class="clearfix"></div>
        </div>    
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.1.0
            </div>
            <strong>Copyright &copy; 2016-2017 <a href="http://require.com.br/">Require</a>.</strong> Todos os direitos reservados.
        </footer>
</div>